.PortfolioThing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 25px auto;
    width: 50%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgb(88, 84, 84);
    border-radius: 15px;
}

#myeats {
    background-image: url('https://i.imgur.com/wsnJZMk.png');
}

#memeworld {
    background-image: url('https://i.imgur.com/0RtDXSd.png');
}

#fit {
    background-image: url('https://i.imgur.com/xHRx4r6.png');
}

#bonez {
    background-image: url('https://i.imgur.com/ZD4AYr9.png');
}

.info {
    font-weight: bold;
    padding: 5px 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: rgba(63, 63, 63, 0.932);
}

.PortfolioThing:hover p {
    display: block;
}

.info h2 {
    margin: 0 0 5px;
}

.info h3 {
    text-decoration: underline;
    margin: 1px;
}

.info p {
    display: none;
    font-size: 14px;
    margin: 0 auto;
    width: 90%;
    word-wrap: break-word;
}

.info a {
    color: rgb(84, 148, 204);
    text-decoration: none;
    border-radius: 5px;
}

.info span {
    margin: 0;
}

.info a:hover {
    color: rgb(226, 95, 95);
}


@media only screen and (max-width: 700px) {
    .PortfolioThing {
        width: 90%;
    }
}